.booking-wrapper {
    margin: 0 auto;
    max-width: 1500px;
  }
  
  .booking-container {
    padding: 7% 8%;
    background-color: var(--light-yellow);
  }
  .booking-title,
  .selected-service-title,
  .payment-title {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 25px;
  }
  .booking-title,
  .payment-box {
    padding-left: 20px;
  }
  .booking-details-title {
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 20px;
  }
  .booking-form-field {
    display: block;
    max-width: 400px;
    width: 100%;
  }
  .booking-form-field input {
    width: 100%;
    outline: none;
    height: 48px;
    color: var(--primary);
    font-weight: 600;
  }
  .booking-form-field input::placeholder {
    color: var(--primary);
    font-weight: 600;
    font-size: 16px;
  }
  .booking-form-field input[type="date"],
  .booking-form-field input[type="time"],
  .booking-form-field.currency-input,
  .booking-form-field.address-input,
  .booking-form-field.select-filed {
    background-color: #fff;
    border: 1px solid var(--border-black);
    border-radius: 4px;
    padding: 0px 12px;
    font-size: 16px;
  }
  
  .booking-form-field input[type="date"]::-webkit-calendar-picker-indicator,
  .booking-form-field input[type="date"]::-webkit-inner-spin-button {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    background-image: url("../../public/assets/img/Calender.png");
    width: 22px;
    height: 22px;
    border-width: thin;
  }
  
  .booking-form-field input[type="time"]::-webkit-calendar-picker-indicator,
  .booking-form-field input[type="time"]::-webkit-inner-spin-button {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    background-image: url("../../public/assets/img/history-line-icon.png");
    width: 22px;
    height: 22px;
    border-width: thin;
  }
  
  .booking-form-field.currency-input {
    -moz-appearance: textfield;
    -webkit-appearance: none;
    appearance: none;
    display: block;
    background-image: url("../../public/assets/img/doller.png");
    width: 100%;
    background-repeat: no-repeat;
    background-position: 96% center;
    background-size: 14px;
  }
  .booking-form-field.currency-input input,
  .booking-form-field.address-input input {
    width: 90%;
    border: none;
  }
  .booking-form-field.currency-input input::-webkit-inner-spin-button,
  .booking-form-field.currency-input input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  .booking-form-field.address-input {
    display: block;
    background-image: url("../../public/assets/img/gps-icon.png");
    width: 100%;
    background-repeat: no-repeat;
    background-position: 96% center;
    background-size: 24px;
  }
  .booking-form-field.select-filed {
    padding: 0;
  }
  .booking-form-field.select-filed select {
    -moz-appearance: textfield;
    -webkit-appearance: none;
    appearance: none;
    display: block;
    background-image: url("../../public/assets/img/down-arrow.png");
    width: 100%;
    background-repeat: no-repeat;
    background-position: 96% center;
    background-size: 17px;
    outline: none;
    border: none;
    height: 48px;
    padding: 0px 12px;
    border-radius: 4px;
  }
  .booking-form-field.select-filed select {
    color: var(--primary);
    font-weight: 700;
    font-size: 16px;
  }
  
  /* src/CheckboxDropdown.css */
  
  .dropdown {
    position: relative;
    display: inline-block;
    max-width: 400px;
    width: 100%;
    background-image: url("../../public/assets/img/down-arrow.png");
    background-repeat: no-repeat;
    background-position: 96% center;
    background-size: 19px;
    background-color: #fff;
    border: 1px solid var(--border-black);
    border-radius: 4px;
  }
  
  .dropdown-header {
    height: 48px;
    padding: 0px 12px;
    display: flex;
    align-items: center;
    color: var(--primary);
    font-weight: 700;
  }
  
  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border: 1px solid #ccc;
    background: #fff;
    z-index: 1000;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .dropdown-option {
    padding: 5px 10px;
  }
  .dropdown-option label input {
    margin-right: 10px;
  }
  
  .option-lable-wrapper {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .form-group {
    display: block;
    margin-bottom: 3px;
  }
  
  .form-group input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
  }
  
  .form-group label {
    position: relative;
    cursor: pointer;
  }
  
  .form-group label:before {
    content: "";
    -webkit-appearance: none;
    background-color: transparent;
    border: 1px solid var(--primary);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
      inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 8px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
  }
  
  .form-group input:checked + label:after {
    content: "";
    display: block;
    position: absolute;
    top: 6px;
    left: 7px;
    width: 3.5px;
    height: 9px;
    border: solid var(--primary);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
  .desktop-margin {
    margin-bottom: 15px;
  }
  .two-form-filed {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  .map-container {
    position: relative;
    margin-top: 30px;
  }
  .address-box {
    position: absolute;
    right: 28px;
    top: 28px;
    max-width: 400px;
    width: 100%;
  }
  .selected-slote-price-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: end;
  }
  .selected-slote-price {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
  }
  .selected-slote-price-title {
    font-size: 20px;
    font-weight: 500;
  }
  .selected-service-title {
    margin-top: 30px;
  }
  .payment-box {
    margin-top: 25px;
  }
  .confirm-booking-btn-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 80px;
  }
  .confirm-booking-btn {
    cursor: pointer;
    font-size: 600;
    color: var(--light-yellow);
    border-radius: 4px;
    background-color: var(--primary);
    padding: 13px 30px;
    font-size: 16px;
    outline: none;
    border: none;
  }
  .mobile-shown-box {
    display: none;
  }
  
  @media screen and (max-width: 1023px) {
    .selected-service-box-desktop {
      display: none;
    }
    .mobile-shown-box {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    .dropdown,
    .booking-form-field {
      max-width: 100%;
    }
  
    .two-form-filed {
      flex-wrap: wrap;
      gap: 0;
    }
    .confirm-booking-btn-wrapper {
      margin-top: 40px;
    }
  }
  @media screen and (max-width: 767px) {
    .address-box {
      width: unset;
    }
    .dropdown-header,
    .booking-form-field input,
    .booking-form-field.select-filed select {
      height: 40px;
    }
    .booking-form-field.select-filed select {
      background-size: 15px;
    }
    .dropdown {
      background-size: 15px;
    }
    .booking-form-field.currency-input {
      background-size: 11px;
    }
    .booking-form-field.address-input {
      background-size: 20px;
    }
    .booking-form-field input[type="time"]::-webkit-calendar-picker-indicator,
    .booking-form-field input[type="time"]::-webkit-inner-spin-button,
    .booking-form-field input[type="date"]::-webkit-calendar-picker-indicator,
    .booking-form-field input[type="date"]::-webkit-inner-spin-button {
      width: 18px;
      height: 18px;
    }
  }
  @media screen and (max-width: 500px) {
    .booking-form-field.currency-input {
      background-position: 94% center;
    }
  }
  
  .message-text {
    text-align: center; 
    color: red;
    font-weight: bold;
  }