.booking-confirmation-main {
    max-width: 1400px;
    margin: 0 auto;
  }
  .booking-confirmation-wrapper {
    display: flex;
    gap: 24px;
  }
  .booking-c-box {
    padding: 60px 15px 30px 15px;
    border: 1px solid var(--border-black);
    max-width: 920px;
    width: 100%;
  }
  .booking-c-image-box {
    text-align: center;
    margin-bottom: 50px;
  }
  .booking-c-image-box img {
    max-width: 100%;
    height: auto;
  }
  .booking-c-info {
    